<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stuffbox"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.stuffbox.view.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stuffbox.view.NewCategoryActivity"
            android:label="@string/title_activity_new_category" >
        </activity>
        <activity
            android:name="com.stuffbox.view.NewFeatureActivity"
            android:label="@string/title_activity_feature" >
        </activity>
        <activity
            android:name="com.stuffbox.view.FormularActivity"
            android:label="@string/title_activity_formular" >
        </activity>
        <activity
            android:name="com.stuffbox.view.NewFormularActivity"
            android:label="@string/title_activity_new_formular" >
        </activity>
        <activity
            android:name="com.stuffbox.view.ListViewDraggingAnimation"
            android:label="@string/title_activity_new_formular" >
        </activity>
        <activity
            android:name="com.stuffbox.view.BadgeActivity"
            android:label="@string/title_activity_badge" >
        </activity>
        <activity
            android:name="com.stuffbox.view.ListCategoriesActivity"
            android:label="@string/title_activity_list_categories" >
        </activity>
        <activity
            android:name="com.stuffbox.view.ListFormularActivity"
            android:label="@string/title_activity_choose_formular" >
        </activity>
        <activity
            android:name="com.stuffbox.view.DetailItemActivity"
            android:label="@string/title_activity_detail_item"
            android:windowSoftInputMode="stateHidden|adjustResize" > <!--damit das Keyboard nicht gleich aufpoppt  --> 
        </activity>
        <activity
            android:name="com.stuffbox.view.ChooseCategoriesActivity"
            android:label="@string/title_activity_choose_category" >
        </activity>
    </application>

</manifest>