<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stuffbox"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.stuffbox.view.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.stuffbox.view.NewCategoryActivity"
            android:label="@string/title_activity_new_category"
            android:parentActivityName="com.stuffbox.view.ListCategoriesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stuffbox.view.ListCategoriesActivity" />
        </activity>
        <activity
            android:name="com.stuffbox.view.NewFeatureActivity"
            android:label="@string/title_activity_feature" >
        </activity>
        <activity
            android:name="com.stuffbox.view.ListFormularActivity"
            android:label="@string/title_activity_choose_formular"
            android:parentActivityName="com.stuffbox.view.ListCategoriesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stuffbox.view.ListCategoriesActivity" />
        </activity>
        <activity
            android:name="com.stuffbox.view.NewFormularActivity"
            android:label="@string/title_activity_new_formular"
            android:parentActivityName="com.stuffbox.view.ListFormularActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stuffbox.view.ListFormularActivity" />
        </activity>
        <activity
            android:name="com.stuffbox.view.ListViewDraggingAnimation"
            android:label="@string/title_activity_new_formular" >
        </activity>
        <activity
            android:name="com.stuffbox.view.BadgeActivity"
            android:label="@string/title_activity_badge" >
        </activity>
        <activity
            android:name="com.stuffbox.view.ListCategoriesActivity"
            android:label="@string/title_activity_list_categories"
            android:parentActivityName="com.stuffbox.view.ListCategoriesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stuffbox.view.ListCategoriesActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stuffbox.view.DetailItemActivity"
            android:label="@string/title_activity_detail_item"
            android:parentActivityName="com.stuffbox.view.ListCategoriesActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stuffbox.view.ListCategoriesActivity" />
        </activity>
        <activity
            android:name="com.stuffbox.view.ChooseCategoriesActivity"
            android:label="@string/title_activity_choose_category" >
        </activity>
        <activity
            android:name="com.stuffbox.view.ChooseIconActivity"
            android:label="@string/title_activity_choose_items" >
        </activity>
    </application>

</manifest>